@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "UserOperations", FormMethod.Post, new { id = "logoutForm", @class = "navbar-static-top", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li>
                @Html.ActionLink("Register business trip", "Register", "BusinessTrip")
            </li>
            <li>
                @Html.ActionLink("My business trips", "GetUserBusinessTrips", "BusinessTrip")
            </li>
            <li>
                @Html.ActionLink("Search", "GetAllBusinessTrips", "BusinessTrip")
            </li>
            @if (User.IsInRole("HR"))
            {
                <li>
                    @Html.ActionLink("Pending requests", "GetPendingBusinessTrips", "BusinessTrip")
                </li>
            }
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "UserOperations")</li>
        <li>@Html.ActionLink("Login", "Login", "UserOperations")</li>
    </ul>
}
