@model BusinessTrips.DAL.Model.BusinessTripModel

@{
    ViewBag.Title = "Request Details";
}

<h2>Request Details</h2>

<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.User.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.User.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.User.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.User.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Department)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Department)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PmName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PmName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ProjectNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ProjectNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ProjectName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ProjectName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TaskName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TaskName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TaskNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TaskNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LeavingFrom)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LeavingFrom)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.StartingDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StartingDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EndingDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EndingDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ClientName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ClientName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ClientLocation)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ClientLocation)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.WithPersonalCar)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.WithPersonalCar)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MeansOfTransportation)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MeansOfTransportation)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Accomodation)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Accomodation)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PhoneIsNeeded)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PhoneIsNeeded)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.BankCardIsNeeded)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.BankCardIsNeeded)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.OtherInfo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.OtherInfo)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Status)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Status)
    </dd>
</dl>
@*@Html.ActionLink("Back", "ManageRequest", new { id = Model.Id.ToString() })*@