@using BusinessTrips.DAL.Model.BusinessTrip
@model BusinessTrips.DAL.ViewModel.AllBusinessTripsCollectionViewModel
@{
    ViewBag.Title = "All business trips";
}

<h2>All business trips</h2>

@using (Html.BeginForm("GetAllBusinessTrips", "BusinessTrip", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <table>

        @if (User.IsInRole("HR"))
        {
            <tr>
                <td>
                    @Html.LabelFor(m => m.BusinessTripFilter.Status)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.BusinessTripFilter.Status, EnumHelper.GetSelectList(typeof(BusinessTripStatus)), "Select Status", new { @class = "form-control" })
                </td>
            </tr>
        }

        <tr>
            <td>
                @Html.LabelFor(m => m.BusinessTripFilter.Person)
            </td>
            <td>
                @Html.TextBoxFor(m => m.BusinessTripFilter.Person, new { @class = "form-control" })
            </td>
        <tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.BusinessTripFilter.ClientName)
            </td>
            <td>
                @Html.TextBoxFor(m => m.BusinessTripFilter.ClientName, new { @class = "form-control" })
            </td>
        <tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.BusinessTripFilter.Accommodation)
            </td>
            <td>
                @Html.TextBoxFor(m => m.BusinessTripFilter.Accommodation, new { @class = "form-control" })
            </td>
        <tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.BusinessTripFilter.StartingDate)
            </td>
            <td>
                @Html.EditorFor(m => m.BusinessTripFilter.StartingDate)
            </td>
        <tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.BusinessTripFilter.EndingDate)
            </td>
            <td>
                @Html.EditorFor(m => m.BusinessTripFilter.EndingDate)
            </td>
        <tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.BusinessTripFilter.Location)
            </td>
            <td>
                @Html.TextBoxFor(m => m.BusinessTripFilter.Location, new { @class = "form-control" })
            </td>
        <tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.BusinessTripFilter.MeanOfTransportation)
            </td>
            <td>
                @Html.TextBoxFor(m => m.BusinessTripFilter.MeanOfTransportation, new { @class = "form-control" })
            </td>
        <tr>
        <tr>
            <td colspan="2">
                <div class="form-group" align="center">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Search" class="btn btn-default" />
                    </div>
                </div>
            </td>
        </tr>
    </table>

}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Accomodation")
        </th>
        <th>
            @Html.DisplayName("Location")
        </th>
        <th>
            @Html.DisplayName("Means of transportaion")
        </th>
        <th>
            @Html.DisplayName("Starting date")
        </th>
        @if (User.IsInRole("HR"))
        {
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayName("Action")
            </th>
        }
    </tr>

    @foreach (var item in Model.BusinessTrips)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accomodation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeansOfTransportaion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingDate)
            </td>
            @if (User.IsInRole("HR"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (item.Status == BusinessTripStatus.Pending)
                    {
                        @Html.ActionLink("Accept", "Accept", "BusinessTrip", new { businessTripId = item.Id }, null)
                        @Html.ActionLink(" Reject", "Reject", "BusinessTrip", new { businessTripId = item.Id }, null)
                    }
                    @Html.ActionLink("Details", "GetDetails", "BusinessTrip", new { businessTripId = item.Id }, null)
                </td>
            }
        </tr>
    }
</table>