@{
    ViewBag.Title = "Manage Request";
}

@model BusinessTrips.DAL.Model.BusinessTripModel

<h2>Manage Request</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndingDate)
        </th>
       <th>
            @Html.DisplayNameFor(model => model.Accomodation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Department)
        </td>
        <td>
            @Html.DisplayFor(model => model.StartingDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.EndingDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.Accomodation)
        </td>
        <td>
            @Html.DisplayFor(model => model.Status)
        </td>
        <td>
            @Html.ActionLink("Accept", "ChangeRequestStatus", new { id = Model.Id, status="Accepted" }) |
            @Html.ActionLink("Details", "RequestDetails", new {id = Model.Id}) |
            @Html.ActionLink("Reject", "ChangeRequestStatus", new { id = Model.Id, status="Rejected" })
        </td>
    </tr>
</table>


