@using System.Web.Mvc.Html

@model BusinessTrips.DAL.Model.BusinessTripModel

<h2>Register new business trip</h2>

@using (Html.BeginForm("Register", "BusinessTrip", FormMethod.Post, new {@class = "form-horizontal"}))
{
    <table>
        <tr>
            <th>
                @Html.LabelFor(m => m.Department)
            </th>
            <th>
                @Html.LabelFor(m => m.PmName)
            </th>
            <th>
                @Html.LabelFor(m => m.ProjectName)
            </th>
            <th>
                @Html.LabelFor(m => m.ProjectNumber)
            </th>
            <th>
                @Html.LabelFor(m => m.TaskName)
            </th>
            <th>
                @Html.LabelFor(m => m.TaskNumber)
            </th>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(m => m.Department, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Department, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.PmName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PmName, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ProjectName, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.ProjectNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ProjectNumber, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.TaskName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TaskName, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.TaskNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TaskNumber, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th colspan="2">
                @Html.LabelFor(m => m.LeavingFrom)
            </th>
            <th colspan="2">
                @Html.LabelFor(m => m.StartingDate)
            </th>
            <th colspan="2">
                @Html.LabelFor(m => m.EndingDate)
            </th>
        </tr>
        <tr>
            <td colspan="2">
                @Html.TextBoxFor(m => m.LeavingFrom, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LeavingFrom, "", new { @class = "text-danger" })
            </td>
            <td colspan="2">
                @Html.EditorFor(m => m.StartingDate, new { @class = "date" })
                @Html.ValidationMessageFor(m => m.StartingDate, "", new { @class = "text-danger" })
            </td>
            <td colspan="2">
                @Html.EditorFor(m => m.EndingDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EndingDate, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th colspan="2">
                @Html.LabelFor(m => m.ClientName)
            </th>
            <th colspan="4">
                @Html.LabelFor(m => m.ClientLocation)
            </th>
        </tr>
        <tr>
            <td colspan="2">
                @Html.TextBoxFor(m => m.ClientName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ClientName, "", new { @class = "text-danger" })
            </td>
            <td colspan="4">
                @Html.TextBoxFor(m => m.ClientLocation, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ClientLocation, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th colspan="6">
                @Html.LabelFor(m => m.MeansOfTransportation)
            </th>
        </tr>
        <tr>
            <td colspan="6">
                @Html.TextBoxFor(m => m.MeansOfTransportation, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MeansOfTransportation, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th colspan="6">
                @Html.LabelFor(m => m.Accomodation)
            </th>
        </tr>
        <tr>
            <td colspan="2">
                @Html.TextBoxFor(m => m.Accomodation, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Accomodation, "", new { @class = "text-danger" })
            </td>
            <td colspan="2">
                @Html.CheckBoxFor(m => m.PhoneIsNeeded)
                @Html.LabelFor(m => m.PhoneIsNeeded)
                @Html.ValidationMessageFor(m => m.PhoneIsNeeded, "", new {@class = "text-danger"})
            </td>
            <td colspan="2">
                @Html.CheckBoxFor(m => m.BankCardIsNeeded)
                @Html.LabelFor(m => m.BankCardIsNeeded)
                @Html.ValidationMessageFor(m => m.BankCardIsNeeded, "", new {@class = "text-danger"})
            </td>
        </tr>
        <tr>
            <th colspan="2">
                @Html.LabelFor(m => m.OtherInfo)
            </th>
        </tr>
        <tr>
            <td colspan="2">
                @Html.TextAreaFor(m => m.OtherInfo, new { @class = "form-control", @rows = "5", PlaceHolder = "anything else you wish to mention" })
            </td>
            <td>
                <div align="left">
                    <button type="submit" class="btn btn-default">Place request</button>
                </div>
            </td>
        </tr>
    </table>
}