@model BusinessTrips.DAL.ViewModel.UserBusinessTripsCollectionViewModel
@{
    ViewBag.Title = "My business trips";
}

<h2>My Business Trips</h2>

@using (Html.BeginForm("GetUserBusinessTrips", "BusinessTrip", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Department")
            </th>
            <th>
                @Html.DisplayName("Starting date")
            </th>
            <th>
                @Html.DisplayName("Ending date")
            </th>
            <th>
                @Html.DisplayName("Accomodation")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.UserBusinesTrips)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accomodation)
                </td>
                <td>
                    <strong>
                        @Html.DisplayFor(modelItem => item.Status)
                    </strong>
                </td>
                <td>
                    @Html.ActionLink("Details", "GetDetails", new { businessTripId = item.Id })
                    @Html.ActionLink("Cancel", "Cancel", new { businessTripId = item.Id })
                </td>
            </tr>
        }
    </table>
}